
<h1 style="margin-top:180px">Todo List</h1>

<ol>

    <li style="text-decoration: line-through">Layout template</li>
    <li style="text-decoration: line-through">Routing</li>
    <li style="text-decoration: line-through">Bring in the API</li>
    <li>Create 2 models</li>
    <li>Hook up the database</li>
    <li>someshit with the ORM</li>
    <li>Host the damn thing</li>
</ol>